.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
  padding-right: 0;
}

#about-us-grid {
  padding-left: 0px;
  padding-right: 0px;
}

#brands-background {
  background-color: rgba(255, 0, 0, 0.5);
}

#main-layout {
  margin: 0px;
  background-color: rgba(255, 0, 0, 0.5);
}
#main-layout-bkg {
  background: url('../assets/images/474103381.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 300px;
  margin: 0px;
}


                              /*Edrick's Dark Side CSS*/


.snippet-demos {
  display: inline-flex;
}

.snippet-demo {
  padding: 70px;

}

.demo-card-image.mdl-card {
        width: 500px;
        height: 500px;

    }

.demo-card-image__filename {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
